@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Alimama';
    src: url('./assets/font/AlibabaPuHuiTi-3-45-Light.otf');
    font-weight: 100;
  }


* {
    padding: 0;
    margin: 0;
    color: #D4D5D7;
    font-size: 14px;
    user-select: none;
}

.hover-text {
    position: relative;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      width: 0;
      height: 0;
    }
    to {
      opacity: 1;
      width: auto;
      height: 24px;
      /* transform: scale(1) translate(-50%, 150%); */
    }
  }

.hover-text:hover::after {
    content: attr(data-hover-text);
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0%);
    padding: 4px;
    border-radius: 4px;
    height: 24px;
    width: auto !important;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff2a;
    animation: fadeIn 0.3s ease;
    white-space: nowrap;
}

.text-left:hover::after {
  content: attr(data-hover-text);
    position: absolute;
    right: 100%;
    top: 30px;
    transform: translate(0%, 0%);
    padding: 4px;
    border-radius: 4px;
    height: 24px;
    width: auto !important;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff2a;
    animation: fadeIn 0.3s ease;
    white-space: nowrap;
}

.drag-area::before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 42px;
    background: transparent;
    top: 0;
    left: 0;
    -webkit-app-region: drag;
}

.no-drag-area {
    -webkit-app-region: no-drag;
}

.scroll-bar {
  overflow: hidden;
  width: calc(100% - 8px);
}

.scroll-bar:hover {
  overflow-y: scroll;
  width: calc(100%);
}

/* 修改滚动条的轨道 */
::-webkit-scrollbar {
  width: 7px; /* 设置滚动条宽度 */
  box-sizing: border-box;
}

/* 修改滚动条的轨道区域 */
::-webkit-scrollbar-track {
  background-color: transparent; /* 设置轨道的背景颜色 */
}

/* 修改滚动条的滑块 */
::-webkit-scrollbar-thumb {
  box-sizing: content-box;
  background-color: #797C84; /* 设置滑块的背景颜色 */
  border-radius: 6px; /* 设置滑块的圆角 */
  border: 2px solid #303134;
}

/* 当滚动条处于活动状态时（用户正在与滚动条交互） */
::-webkit-scrollbar-thumb:hover {
  background-color: #94969C; /* 设置滑块的背景颜色 */
  border: 2px solid transparent;
}
